<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <div class="card bg-primary text-white">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-graduation-cap"></i> Total Exams
          </h5>
          <p class="card-text">{{ totalExams }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-success text-white">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-users"></i> Total Employees
          </h5>
          <p class="card-text">{{ totalEmployees }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-info text-white">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-check-circle"></i> Completed Exams
          </h5>
          <p class="card-text">{{ completedExams }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-warning text-dark">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-hourglass-half"></i> Inprogress Exams
          </h5>
          <p class="card-text">{{ inProgressExams }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
